.footerText {
    display: flex;
    justify-content: space-between;
  
  }
  
  .footerText > p,
  .footerText > a {
    font-size: 10px;
    text-decoration: none;
    color: #000;
  }
  
  .copyright, main-footer {
    margin: auto;
  }
  
  .copyright > a {
    margin-left: 5px;
  }

  @media only screen and (min-width: 600px) {
    .main-footer {
      width: 100%;
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .main-footer {
      margin-left: 0 40px;
    }
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .main-footer {
      margin-left: 150px;
    }
  }